<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Sms1wayModule" value="21" />
    <add key="ServiceManager_IP" value="api.hicloud.hinet.net" />
    <add key="ServiceManager_PROTOCOL" value="HTTP" />
    <add key="ServiceManager_PORT" value="80" />
    <add key="ServiceManager_USEPROXY" value="True" />
    <add key="Sms1waySvc" value="https://hisales-crm-api.hicloud.net.tw/MsgWebServiceAPI/service.asmx" />
  </appSettings>
</configuration>